*.sh text eol=lf
scripts/install-ooonana-ai-wsl.sh text eol=lf
packages/ooonana/usr/bin/ooonana text eol=lf
packages/ooonana/usr/bin/ooonana-ai text eol=lf
packages/ooonana/usr/sbin/ooonana-install text eol=lf
packages/ooonana/usr/lib/ooonana/ai/*.py text eol=lf
packages/ooonana/usr/lib/ooonana/repo/*.pkg text eol=lf
docs/*.example text eol=lf
docs/*.txt text eol=lf
packages/ooonana/usr/share/ooonana/*.txt text eol=lf
configs/packages/*.list text eol=lf
*.md text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
